@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.game-container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.board-wrapper {
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.1), inset -2px -2px 6px rgba(255, 255, 255, 0.7);
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.cell:hover {
    background-color: #f0f0f0;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.5);
}

.cell.taken {
    pointer-events: none;
    color: #aaa;
}

button {
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    outline: none;
}

button:hover {
    background-color: #444;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#status {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #555;
}

.cell.highlight {
    background-color: #69ff69;
    color: #fff;
    animation: highlight-flash 1s infinite;
}

.developer-info {
    color: #555;
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
}

a {
    color: #555;
    text-decoration: none;
}


@keyframes highlight-flash {
    0%,
    100% {
        box-shadow: 0 0 10px #fff;
    }

    50% {
        box-shadow: 0 0 20px #90ee90;
    }
}

@media (max-width: 400px) {
    .cell {
        width: 80px;
        height: 80px;
        font-size: 2rem;
    }

    h1 {
        font-size: 2rem;
    }
}